 h1{
   text-align: center; 
 }
 body {
  background-color: #cccccc;
 }

 .banner {
     width:100% ;
}
.benefícios {
    background-color:#ffffff;
    padding: 20px; 
}
.imagembeneficios {
    width: 50px;
}
.principal {
  background-color:black
  padding: 3030px
}
